@using MVCSurvey.Infrastructure.Models.Survey
@{
    ViewBag.Title = "Create";

    var model = new SurveyParameter();
}
<div class="survey-content survey-centered">
    <h1>Create A Survey</h1>
    <input type="button" id="btnSurveyCancel" style="float:right; width: 70px"/>

    <br />
    <table class="survey-centered">
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" id="txtSurveyName" /></td>
        </tr>
    </table>
    <br />

    <table class="survey-centered" id="tblSurveyParameters">
        <tr id="trSurveyParamHead0">
            <th>Question</th>
            <th>Type</th>
            <th>Required</th>
            <th></th>
        </tr>
        <tr class="surveyParam" id="trSurveyParam0">
            <td>
                <input type="text" id="txtSurveyQuestion0" /></td>
            <td>
                <select id="selSurveyParamType0">
                    @foreach (var t in model.SurveyParamTypes)
                    {
                        <option>@t</option>
                    }
                </select>
            </td>
            <td>
                <select id="selSurveyParamRequired0">
                    @foreach (var t in model.ParamRequiredChoices)
                    {
                        <option>@t</option>
                    }
                </select>
            </td>
            <td>
                <input type="button" value="Remove" id="btnRemove0" />
            </td>
        </tr>
    </table>

    <input type="button" value="Add Question" id="btnSurveyParamAdd" style="margin: 5px 0 0 5px"/>

    <br />
    <hr />

    <input type="button" value="Submit" id="btnSurveySubmit" />

</div>

<script type="text/javascript">
    var _MVCSurvey_HelperObject = { postUrl: '@Url.Action("Create", "Survey")', redirectUrl: '@Url.Action("Index", "Survey")'};
</script>

@section styles {
    @Styles.Render("~/Content/survey/bundle")
}

@Scripts.Render("~/bundles/survey")
