@model MVCSurvey.Infrastructure.Models.Survey.SurveyModel

@{
    ViewBag.Title = "Edit";

    var index = 0;
}

<div class="survey-content survey-centered">
    <h1 class="survey-h1">Edit Survey</h1>

    <h3 class="survey-h3">@Model.Name</h3>
    <input type="hidden" id="hidSurveyID" value="@Model.SurveyID" />

    <table class="survey-centered" id="tblSurveyParameters">
        <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Required</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var m in Model.SurveyParameters)
        {
            <tr class="surveyParam" id="trSurveyParam@(index)">
                <td>
                    <input id="txtSurveyQuestion@(index)" type="text" value="@m.Key"/></td>
                <td>
                    <select id="selSurveyParamType@(index)">
                        @foreach (var t in m.SurveyParamTypes)
                        {
                            if (t == m.Type)
                            {
                            <option selected>@t</option>
                            }
                            else
                            {
                            <option>@t</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <select id="selSurveyParamRequired@(index)">
                        @foreach (var t in m.ParamRequiredChoices)
                        {
                            if (t.ToLower() == m.Required.ToString().ToLower())
                            {
                            <option selected>@t</option>
                            }
                            else
                            {
                            <option>@t</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <input class="surveyRemoveButton button-warning" type="button" value="Remove" id="btnRemove@(index)" />
                </td>
            </tr>

                        index++;
        }
    </table>

    <input class="button-user" type="button" value="Add Question" id="btnSurveyParamAdd" style="margin: 5px 0 0 5px;"/>

    <br />
    <hr />

    <input type="button" value="Submit" id="btnSurveySubmit" />
    <input type="button" id="btnSurveyCancel" value="Cancel" style="width: 70px"/>
</div>

@section styles
{
    @Styles.Render("~/Content/survey/bundle")
}

<script type="text/javascript">
    var _MVCSurvey_HelperObject = { surveyParamsCount: parseInt('@(index)'), redirectUrl: '@Url.Action("Index", "Survey")', postUrl: '@Url.Action("Edit", "Survey")' };
</script>

@Scripts.Render("~/Scripts/survey/edit.js")
