@model MVCSurvey.Infrastructure.Models.Survey.SurveyModel

@{
    ViewBag.Title = Model.Name;

    var index = 0;
}

@Styles.Render("~/Content/Survey/bundle")

<div class="survey-content survey-centered">
    <h1 class="survey-h1">@Model.Name</h1><h5 class="survey-h5">&nbsp All fields marked with a * are required</h5>
    
    <br />

    @foreach (var m in Model.SurveyParameters)
    {
        <div class="survey-key-value">
            @if (m.Required)
            {
                <h3>@m.Key *</h3>
            }
            else
            {
                <h3>@m.Key</h3>
            }
            @*"Text", "Number", "Decimal Number", "Currency", "Date", "Large Number"*@
            @switch (m.Type)
            {
                case "Date":
                    <h5 class="survey-h5"></h5>
                    <input id="@m.Type-@index-@m.Required.ToString()" placeholder="mm/dd/yyyy" class="datepicker" type="text"/>
                    break;
                case "Text":
                    <h5 class="survey-h5"></h5>
                    <input id="@m.Type-@index-@m.Required.ToString()" type="text"/>
                    break;
                case "Number":
                    <h5 class="survey-h5">This answer must be a number</h5>
                    <input id="@m.Type-@index-@m.Required.ToString()" placeholder="123" type="text"/>              
                    break;
                case "Decimal Number":
                    <h5 class="survey-h5">This answer must be a decimal number</h5>
                    <input id="@m.Type-@index-@m.Required.ToString()" placeholder="00.00" type="text"/>
                    break;
                case "Currency":
                    <h5 class="survey-h5">This answer must be a dollar value</h5>
                    <input id="@m.Type-@index-@m.Required.ToString()" class="currency" placeholder="$0.00" type="text"/>
                    break;
                case "Large Number":
                    <input id="@m.Type-@index-@m.Required.ToString()" type="text"/>
                    break;
            }
        </div>
        
        <br />

        index++;
    }

    <br />

    <input type="button" id="btnSurveyTakeSubmit" value="Submit" />
    <input type="button" id="btnSurveyCancel" value="Cancel" style="margin-left: 10px;"/>
</div>

<script type="text/javascript">
    var _MVCSurvey_HelperObject = { referrerUrl: '@ViewBag.ReferrerUrl', surveyId: '@Model.SurveyID', postUrl: '@Url.Action("Take", "Survey")' };
</script>

@Scripts.Render("~/Scripts/survey/take.js")
